.episodePreviewList {
    flex: 1;
    min-height: 0;
    width: 250px;
    position: relative;
}

.episodePreviewListInner {
    position: absolute;
    inset: 0;
}

.episodeItem {
    background-color: var(--spectrum-global-color-gray-200);
    padding: 8px;
    margin: 0 var(--spectrum-global-dimension-size-250);
    border: 2px solid transparent;
    border-radius: 4px;
    position: relative;
    width: 200px;
    height: 180px;
    box-sizing: border-box;
}

.episodeImage {
    object-fit: contain;
    width: 180px;
    height: 135px;
    display: block;
    margin: 0 auto;
}

.episodeItem:hover {
    border: 2px solid var(--energy-blue);
    cursor: pointer;
}

.episodeItem.active {
    border: 2px solid var(--energy-blue);
}

.episodeCheckbox {
    padding-right: var(--spectrum-global-dimension-size-50);
}
