* @open-edge-platform/physical-ai-studio-maintain

# Lock files
library/uv.lock                   @open-edge-platform/physical-ai-studio-maintain @sys-geti
physicalai/uv.lock                @open-edge-platform/physical-ai-studio-maintain @sys-geti
application/backend/uv.lock       @open-edge-platform/physical-ai-studio-maintain @sys-geti
application/trainer/uv.lock       @open-edge-platform/physical-ai-studio-maintain @sys-geti
application/ui/package-lock.json  @open-edge-platform/physical-ai-studio-maintain @sys-geti

# Dockerfile
application/docker/Dockerfile     @open-edge-platform/physical-ai-studio-maintain @sys-geti

# CI and security
.github/actions/                  @open-edge-platform/geti-ci-maintain
.github/workflows/                @open-edge-platform/geti-ci-maintain
.github/renovate.json5            @open-edge-platform/geti-ci-maintain
.github/bandit_config.yml         @open-edge-platform/geti-ci-maintain
security.md                       @open-edge-platform/geti-ci-maintain
.semgrepignore                    @open-edge-platform/geti-ci-maintain
