.boxWrapper {
    min-width: 0;
    flex: 1;
}

.boxHeading {
    padding: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-200);
    background-color: var(--spectrum-global-color-gray-200);
    font-weight: normal;
    margin-bottom: 0px;
}

.boxContent {
    background-color: var(--spectrum-global-color-gray-50);
    padding: var(--spectrum-global-dimension-size-200) var(--spectrum-global-dimension-size-300);
    color: var(--spectrum-global-color-gray-700);
    font-size: var(--spectrum-global-dimension-font-size-75);
}
