.policyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: var(--spectrum-global-dimension-size-200);
}

.modelPolicyCard {
    --spectrum-alias-border-radius-medium: 4px;
    --spectrum-alias-border-size-thin: 2px;
    --spectrum-alias-border-color-focus: var(--energy-blue);
    --spectrum-alias-background-color-default: var(--spectrum-global-color-gray-200);
    --spectrum-alias-background-color-informative: var(--selection-dark-blue, #0c1e29);
}

.advancedSettingsDisclosure {
    --spectrum-accordion-background-color-hover: none;
}

.advancedSettingsDisclosure h3 {
    padding: 0 !important;
}

.advancedSettingsDisclosure h3 button {
    padding: 0;
    background: none !important;
    font-size: 14px;
}
