.closeButton {
    background-color: transparent;
    position: fixed;
    right: 0;
    height: 100%;
    border: 0;
}

.closeButton svg {
    height: var(--spectrum-global-dimension-font-size-100);
    width: var(--spectrum-global-dimension-font-size-100);
}

.icon {
    margin: auto var(--spectrum-global-dimension-size-125);
    display: flex;
}

.content {
    margin: auto var(--spectrum-global-dimension-size-125);
}

.toast {
    -webkit-box-shadow: 0px 0px var(--spectrum-global-dimension-size-500)
        calc(var(--spectrum-global-dimension-size-125) * (-1)) var(--background);
    -moz-box-shadow: 0px 0px var(--spectrum-global-dimension-size-500)
        calc(var(--spectrum-global-dimension-size-125) * (-1)) var(--background);
    box-shadow: 0px 0px var(--spectrum-global-dimension-size-500) calc(var(--spectrum-global-dimension-size-125) * (-1))
        var(--background);
    background-color: var(--background-inverse);
    color: white;
    width: 640px;
    height: var(--spectrum-global-dimension-size-600) !important;
    display: flex;
    border-left: var(--spectrum-global-dimension-size-40) solid var(--border-color);
}
